*{
  margin-top: 0;
}
body{

background: rgb(96,61,88);
background: linear-gradient(6deg, rgba(96,61,88,1) 12%, rgba(0,173,255,1) 100%);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

:root{
  --blue: #002663;
  --orange: #F48924; 
  --grey: #4d4f53; 
}

  /* -------- STYLE HOME COMPONENT ------------------*/
/* Title for Home with top space for logo */

.circle{
  padding-top: 2em;
}
.dot{
  margin: 0 auto;
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 100%;
  display: flex;
  justify-content: center;
}

.log-in-title{
  padding-top: 1em;
  font-size: 2em;
  font-weight: 200;
  color: #FFFFFF;
}


.Sign-In, .Register{
  margin-left: 55px;
 text-align: left;
 font-size: 1.5em;
 color: #FFFFFF;
 font-weight: 600;
}

.Form-Container{
  max-width: 500PX;
  height: 90vh;
  margin: 2px auto;
  text-align: center;
  margin-bottom: 10vh;
  background: var(--blue);
}

.Form-Container label{
  text-align: left;
  display: block;
  font-weight: 400;
  color: hsl(192, 24%, 96%);
  margin-left: 55px;
}

/* Focus on hover */
.Form-Container input:hover{
  background-color: #eef8a3f8;
}

.Form-Container input, .Form-Container text, .Form-Container select{
  width: 80%;
  padding: 6px 10px;
  margin: 10px auto;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  border-radius: 8px;
  
}

.Form-Container button{
  background-color: var(--orange);
  margin-top: 25px;
  border: none;
  padding: 8px;
  border-radius: 8px;
  width: 80%;
  font-size: 1em;
 color: #FFFFFF;
 font-weight: 600;
}

button:hover {
  background-color: #F4892499;
  color:white;
  box-shadow: 2px 2px 2px #090a0b;
  transform: scale(1.03); 
}

.Home-bottom-links{
  font-size: 0.5em;
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-top: 10em;
  color: #FFFFFF;
  text-shadow: 2px 1px 3px #F48924;
  cursor: pointer;
}
/* -------- STYLE HOME COMPONENT ------------------*/
/*----------------- FINISH ------------------------ */
 

/*---------------- ForgotPage-------------------- */
.recovery{
  background-color: var(--orange);
  margin-top: 5em;
  height: 30vh;
  border-radius: 10px 10px 0 0;
}

.back{
  font-size: 1em;
  display: flex;
  justify-content: start;
  padding: 10px;
  color: #FFFFFF;
  text-shadow: 2px 1px 3px #F48924;
  cursor: pointer;
}

.back:hover{
  transform: scale(1.009); 
}

.recovery label{
  color: #FFFFFF;
  padding-top: 2em;
}







.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



/*
.sign-up-form label {
  text-align: left;
  margin-left: 55px;
}*/






/*
.log-in, .sign-up{
  font-size: 2em;
  font-weight: 200;
  color: #FFFFFF;
  text-shadow: -1px -1px 8px rgba(27, 30, 31, 1);
  margin: 1em  auto;
}*/


ul li{
  background-color: #8a9ec3;
  opacity: 0.5;
  box-shadow: 1px 1px 1px rgba(47, 80, 80, 0.8) ;
  border-radius: 7px;
  padding: 6px;
  margin: 2px;
}


.btn-home:hover, .btn-contact:hover, .btn-about:hover{
 background-color: #e7e9ec;
 transform: scale(0.90);
 
}
a {
  text-decoration: none;
} 



@media screen and (max-width: 500px) {
  .Form-Container {
    width: 100vw;
    height: 100vh;
    margin-top: 5px;
  }

  .NavBar{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
  }

  .nav-container{
    padding-top: 1.5em;;
    display: flex;
    background-color: #204f5c;
    justify-content: center;  
  }

  .Form-Container label{
    margin-left: 10vw;
  }
.recovery{
  height: 100vh;
}
}


@media screen and (max-width: 320px) {
  li{
    display: none;
  }
  .NavBar{
    display: flex;
    flex-direction: row;
  }
  .nav-icon{
    margin: 10px;
    display: flex;
    flex-direction: row;
    font-size: 16px;
  }

  .Form-Container label{
    margin-left: 10vw;
  }

}

.home-title{
  padding-top:  80px;
}
nav{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0,
}

ul{
  list-style: none;
  display: flex;
  margin: 1px;
  padding: 2px;
 
 

  flex-wrap: wrap;
}

li{
  text-decoration: none;
  padding:1em;
  justify-content: center;
}

.nav-container{
  display:inline;
  /*background-color: #378297;*/
  align-items: center;
  opacity: 0.7;
  width: 100%;
  border-radius: 8px;
  box-shadow: 10px 10px 25px 0px rgba(56, 47, 47, 0.46);   
}

.nav-icon{
  display: none;
  margin: 10px;
}
/*----------------------DASH-------------------*/
.NAV-BAR{
  display: flex;
  justify-content: space-between;
  background-color: #204f5c99;
  border-radius: 8px;
}

.NAV-BAR .back{
  display: flex;
  align-items: center;
  margin-top: 6px;
}
.div-log span{
  display: flex;
  align-items: center;
  height: 50px;
  width: 50px;
  margin: 5px;

}

/*-----------HOME PANEL-------*/

.Home-panel{
  display: flex;
  justify-content: center;
  background-color: var(--orange);
  margin: 20px auto;
  width: 50vw;
  height: 50vh;
}